<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compra como estilo de vida</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <div class="footer">
        <div>Marcas</div>
        <ul>
            <li><a href="{% url 'buscador.views.brands_show' 'a' %}">A</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'b' %}">B</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'c' %}">C</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'd' %}">D</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'e' %}">E</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'f' %}">F</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'g' %}">G</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'h' %}">H</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'i' %}">I</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'j' %}">J</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'k' %}">K</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'l' %}">L</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'm' %}">M</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'n' %}">N</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'o' %}">O</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'p' %}">P</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'q' %}">Q</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'r' %}">R</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 's' %}">S</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 't' %}">T</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'u' %}">U</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'v' %}">V</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'w' %}">W</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'x' %}">X</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'y' %}">Y</a></li>
            <li><a href="{% url 'buscador.views.brands_show' 'z' %}">Z</a></li>
        </ul>
        <div>Contacta</div>
        <ul>
            <li>Twitter</li>
            <li>Instagram</li>
            <li><a href="mailto:alvaro@bcnyc.agency">Email</a></li>
        </ul>
        <div style="text-align:right">Created by bcnyc.agency with love</div>
    </div>
</body>
</html>